*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



img{
    border-radius: 50%;
}

header{
    padding-top: 36px;
    padding-bottom: 20px;
    padding-right: 36px;
    padding-left: 36px;
    display: flex;
}

.image img{
    float: left;
}

.text {
    position: absolute;
    left: 130px;
    padding: 10px;
}
.text p{
    padding-top: 5px;
}

i{
    padding-right: 6px;
}
.header-buttons{
    position: absolute;
    right: 50px;
    padding: 10px;
}

.header-buttons button{
    font-weight: 800;
}

#abtn, #sbtn{
    border: none;
    color: black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px rgba(74, 74, 74, 0.2);
}

#abtn{
    background-color: rgb(66, 203, 123);
}
#abtn:hover{
    background-color:  rgb(43, 128, 79);
    color: white;
}

#sbtn{
    background-color: rgb(231, 194, 10);
}
#sbtn:hover{
    background-color:  rgb(144, 120, 0);
    color: white;
}




section{
    padding-top: 10px;
    padding-bottom: 36px;
    padding-right: 36px;
    padding-left: 36px;
}

.info-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px; 
    /* background-color: rgb(132, 83, 83); */
    border-style: solid;
    border-width: thin;
    border-color: rgb(173, 173, 173);
    border-radius: 8px;
    padding: 32px;
}

.info-element{
    appearance: none;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 16px;
}
.contact-info input{
    font-weight: 600;
    font-size: 15.5px;
}

.n-container{
    padding-top: 20px;
}

.notes-container{
    border-style: solid;
    border-width: thin;
    border-color: rgb(173, 173, 173);
    border-radius: 8px;
}

.notes-title{
    padding: 18px;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(216, 216, 216);
}

.notes-title input{
    appearance: none;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 15.5px;
    /* display: block; */
}


.w-notes{
    padding: 25px 13px;
}

.written-notes{
    padding-top: 20px;
    padding-bottom: 20px;
}

.written-notes h4{
    padding-bottom: 0.5em;
}

.date{
    font-size: 10px;
    padding-top: 1em;
}
.pnotes{
    font-size: 15px;
}

.written-notes p{
    color: rgb(47, 80, 114);
    font-weight: 600;
}



.add-notes{
    background-color: rgb(238, 236, 236);
    padding: 20px;
}

.add-notes label{
    font-weight: 600;
}

.add-notes textarea{
    width: 100%;
    resize: none;
    appearance: none;
    outline: none;
    border-width: 1px;
    border-color: rgb(184, 184, 184);
    display: block;
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    padding-top: 10px;
}
.add-notes #editnotes:focus{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    background-color: rgb(244, 244, 244);
    border-width: 3px;
}


.add-note-btn{
    text-align: right;
    font-size: 10px;
    padding-top: 10px;
}

.add-note-btn input[type="submit"]{
    padding: 8px;
    background-color: #4811a5;
    color: white;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 0px 6px rgba(89, 89, 89, 0.2);
}

.add-note-btn input[type="submit"]:hover{
    background-color: #633fa1;
}
