@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    background-color: rgb(233, 233, 233);

    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, p{
    margin: 0;
}

a, button{
    cursor: pointer;
}


/******NAVIGATION******/
nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    height: 70px;
    background: linear-gradient(90deg, rgb(24, 180, 201) 0%, rgba(0,113,156,1) 100%);

    font-weight: bolder;
    color: white;
}
nav img{
    margin-right: 15px;
}

.container{
    display: flex;
    height: 100%;
}

aside{

    min-width: 200px;
    background-color: white;
    height: 100%;

    padding: 20px;
}
aside i{
    margin-right: 10px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    display: flex;
    align-items: center;
    height: 40px;
    text-decoration: none;
    color: black;

    transition: 0.2s;
}
a:hover{
    margin-left: 10px;
    color: rgba(0,113,156,1);
}

li{
    display: flex;
    align-items: center;
}

main{
    padding: 50px;
    width: 100%;
    
    box-shadow: 0 0 10px rgba(black, black, black, 0.5);
}

h1{
    margin-bottom: 20px;

    font-weight: bolder;
}
h2{
    margin-bottom: 10px;
}
.form{
    background-color: white;
    padding: 20px;
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

input{
    width: 100%;
    height: 40px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
    color: #4A4A4A;

    outline-color: rgba(0,113,156,1);
}

.error{
    color: red;
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.error .material-icons{
    margin-right: 5px;
    font-size: 18px;
}

.controls{
    background-color: rgb(233, 233, 233);

    height: 60px;
    padding: 20px;
    border-radius: 5px;

    grid-column: span 2; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg{
    width: 85%;
}

.controls button{
    width: 90px;
    height: 40px;

    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    background-color: #47AB11;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 14px;

    transition: 0.3s;
}
.controls button:hover{
    background-color: #378f08
}

.success{
    background-color: rgb(105, 211, 105);
}
.fail{
    background-color: rgb(255, 97, 97);
    color: white;
}


/*****DROPDOWN*****/
.dropdown{
    position: relative;
}

.select{
    color: #4A4A4A;
    border: 1px solid rgb(214, 214, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.7em;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);

    cursor: pointer;
    transition: 0.3s;

    outline-color: rgba(0,113,156,1);
    outline-width: 1px;

    transition: 0.3s;
}

/*WHEN DROPDOWN ITEM IS CLICKED*/
.select-clicked{
    border: 2px solid #26489a;
    box-shadow: 0 0 1px #000000;
}

.select:hover{
    background: #ececec;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;

    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.7em;
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    color: black;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li{
    padding: 0.7em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;

    transition: 0.2s;
}

.menu li:hover{
    background: rgb(221, 221, 221);
}

/***WHEN ACTIVE***/
.active{
    background: rgb(241, 241, 241);
}

/***WHEN OPEN***/
.menu-open{
    display: block;
    opacity: 1;
}






@media screen and (max-width: 900px){
    .form{
        grid-template-columns: 1fr;
    }

    .controls{
        grid-column: span 1; 
    }
}